<div class="m-md-5 m-2">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <form action="/books/search" method="post">
                        <label for="section" class="h2 text-success">Sort</label>
                        <select class="custom-select mb-2" name="section" class="fieldRequired" id="section">
                            {{#select value}}
                            <option selected value="x" disabled>Choose Branch</option>
                            <option value="C.S.E">C.S.E</option>
                            <option value="I.S.E">I.S.E</option>
                            <option value="Mech">Mech</option>
                            <option value="Civil">Civil</option>
                            <option value="E.C.E">E.C.E</option>
                            <option value="E.E.E">E.E.E</option>
                            <option value="C.T.M">C.T.M</option>
                            <option value="Marine">Marine</option>
                            <option value="others">others</option>
                            {{/select}}
                        </select>
                        <button type="submit" class="btn btn-success text-center">&emsp;SORT&emsp;</button>
                    </form>
                </div>
            </div>
        </div>
        {{#each books}}
        <div class="col-md-6 col-lg-4 mt-4">
            <div id="book-card" class="card">
                {{#if (Icon ../user.id user)}}
                <div class="header">
                    <div class="d-inline delete float-left">
                        <form action="/books/{{id}}?_method=DELETE" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </form>
                    </div>
                    <div class="d-inline edit float-right">
                        <a href="/books/edit/{{id}}" class="btn btn-info"><i class="fa fa-pen"></i></a>
                    </div>
                </div>
                {{/if}}
                <div id="book-image" class="card-text">
                    <a href="/books/{{id}}">
                        <img src="{{image}}" class="img-fluid book-img">
                    </a>
                </div>
                <div class="card-body text-center text-dark">
                    <p class="h4 text-name">{{name}}</p>
                    <p class="h5 text-muted">{{author}}</p>
                    <p class="text-success h5">₹ {{price}}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/books/{{id}}" class="btn font-weight-bold btn-outline-success">More info</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-10 m-auto">
            <h4 class="text-success text-center mt-4">NO Books Founds (- , -)</h4>
        </div>
        {{/each}}
        {{#if pages}}
        <div class="m-auto">
            <nav aria-label="Page navigation">
                <ul class="pagination mt-2">
                    <li class="page-item {{#if (equality currentPage 1)}} disabled {{/if}}">
                        <a class="page-link" href="/books/buy/1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {{!-- <a class="page-item"><a class="page-link" href="/books/buy/1">1</a></a>
                    <li class="page-item"><a class="page-link" href="/books/buy/2">2</a></li> --}}
                    {{#pagination pages currentPage}}

                    {{/pagination}}
                    <li class="page-item {{#if (equality currentPage pages)}} disabled {{/if}}">
                        <a class="page-link" href="/books/buy/{{pages}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        {{/if}}
    </div>
</div>