<div class="container">
    <div class="row mt-3">
        <div class="col-md-5 offset-1">
            <img src="{{item.image}}" class="img-fluid">
        </div>
        <div class="col-md-5 offset-1 text-white">
            <h3>{{item.name}}</h3>
            <h4>{{item.author}}</h4>
            <h5 class="ml-2 text-success">₹  {{item.price}}</h5>
            <h5>{{item.description}}</h5>
        </div>
    </div>
</div>